.add-video .image-wrapper {
  margin-left: -76px;
  margin-right: -76px;
}

.add-video .image-wrapper img {
  width: 100%;
}

.add-video .profile {
  margin-top: 26px;
}

.add-video .profile .user-profile {
  display: flex;
  align-items: center;
}

.add-video .profile .user-profile img {
  height: 90px;
  width: 80px;
  margin-right: 23px;
}

.add-video .profile .user-profile .channel-name h6 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.add-video .profile .user-profile .channel-name p {
  font-size: 14px;
  font-weight: 400;
  color: #f0f0f0;
}

.add-video .profile .user-profile .button-wrapper {
  flex: 1;
  text-align: end;
}

.add-video .profile .user-profile .button-wrapper .add-button {
  font-size: 12px;
}

.add-video .link-profile-wrapper {
  display: flex;
  padding: 0;
  padding: 19px 0 8px;
  border-bottom: 2px solid #d2d2d2;
  margin-bottom: 20px;
}

.add-video .link-profile-wrapper span {
  text-decoration: none;
  spanst-style: none;
  margin-right: 21px;
  font-size: 18;
  font-weight: 600;
  color: #d2d2d2;
}

.add-video .link-profile-wrapper span.active {
  color: #ff7a00;
}

.add-video .link-profile-wrapper .link-profile {
  text-decoration: none;
}
