.page {
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
}

.left {
  color: white;
  flex: 3;
  width: 383px;
}

.left-content,
.left-content img {
  width: 450px;
  margin: auto;
  text-align: start;
}

.right {
  flex: 2;
  margin: auto;
}
