.channel-wrapper .image-wrapper {
  width: 113%;
  margin-left: -76px;
}

.channel-wrapper .image-wrapper img {
  width: 100%;
}

.channel-wrapper .link-profile-wrapper {
  display: flex;
  padding: 0;
  padding: 19px 0 8px;
  border-bottom: 2px solid #d2d2d2;
  margin-bottom: 20px;
}

.channel-wrapper .link-profile-wrapper span {
  text-decoration: none;
  margin-right: 21px;
  font-size: 18;
  font-weight: 600;
  color: #d2d2d2;
}

.channel-wrapper .link-profile-wrapper span.active {
  color: #ff7a00;
}

.channel-wrapper .link-profile-wrapper .link-profile {
  text-decoration: none;
}
