.thumbnail {
  margin-bottom: 20px;
}

.thumbnail .title {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.thumbnail .channel {
  font-size: 12px;
  color: #555555;
  font-weight: 600;
}

.thumbnail .description {
  display: flex;
  flex: 1;
  margin-top: -15px;
}

.thumbnail .description span {
  margin-right: 20px;
  padding-left: 8px;
  font-size: 12px;
  color: #555555;
}

.link-thumbnail:hover {
  text-decoration: none;
}
.link-channel:hover {
  text-decoration: none;
}
