.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-password {
  background-color: #161616;
  width: 450px;
  border-radius: 10px;
  padding: 40px 33px;
  box-sizing: border-box;
  max-height: 600px;
  position: relative;
}

.reset-password .title {
  font-family: "Montserrat";
  color: #fff;
  text-align: start;
  font-size: 36px;
  margin: 0;
  margin-bottom: 30px;
}

.reset .success-message {
  position: absolute;
  padding: 50px;
  padding-bottom: 20px;
  background-color: #38e638;
  border-radius: 10px;
}

.reset .success-message:hover {
  background-color: #00fd00;
}

.reset .success-message span {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
